{% extends 'base.html.twig' %}

{% block title %}Annuaire bien-être
{% endblock %}

{% block content %}
	<h1>Annuaire Bien Etre</h1>
	<p>Bienvenu sur le site <span class='bold'>Annuaire Bien Etre</span></p>
	<p>Ce site est dédié aux commerçants désireux de promouvoir leurs services sur cette plateForme.<br> Vous pourrez vous inscrire en créant un compte PRESTATAIRE.</p>
	<p>En tant qu'internaute, vous retrouverez au même endrois une multitude de services et de prestataires dédiés au  'bien être'.<br>
	N'hésitez pas à faire votre choix parmis nos diverses catégories de services.</p>
{% endblock %}
