<h1>Confirmation de votre adresse mail !</h1>

<p>
    Pourriez vous confimer votre adresse mail en cliquant sur le lien ci-desous ? <br><br>
    <a href="{{ signedUrl|raw }}">Je désire m'inscrire sur votre site Bien-Être </a>.
    </p>
    <p>Ce lien vous amènera vers un FORMULAIRE afin que nous fassions plus ample connaissance avec vous .</p>
    <p>
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci pour votre adhésion.
</p>
