{% extends "base.html.twig" %}

{% block title %}Formulaire de finalisation d'inscription Internaute
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Finalisation de l'inscription</h1>
    </div>

    <h2>Votre inscription en tant qu' INTERNAUTE</h2>
    {{ form(registrationForm) }}
    
    {# Fin du formulaire #}

{% endblock %}