{% extends 'base.html.twig' %}

{% block title %}Catégorie - Annuaire bien-être
{% endblock %}

{% block content %}
	<h1>Ceci est le détail de la catégorie</h1>
    <p>nom: {{categorie.nom}}</p>
    <p>description: {{categorie.description}}</p>
    
	
{% endblock %}
