{# vue spécifique pour les catégories qu'on reprendra include render dans le base.html.twig #}
{% block listeCategory %}
	<details>
		<summary>Recherche par... catégorie de services</summary>
		<select class="beau" name="categorieDeService" id="categorieDeService" multiple>

			{# if you don't want to expose the controller with a public URL,
																use the controller() function to define the controller to execute #}
			{# Chemin\NomduController::nomdelamethode #}

		
		

			{# @TODO revoir la syntaxe pour que cela fonctionne  #}
			{% for categorie in categories %} 
			
        <option value="{{ categorie.id }}" data-url="{{ path('app_detail_category', { 'id' : categorie.id }) }}">{{ categorie.nom }}</option> 
		
			{% endfor %} <!-- Ajoutez d'autres options si nécessaire -->
		</select>
		<script>
document.addEventListener('DOMContentLoaded', function() {
    const selectElement = document.getElementById('categorieDeService');
    selectElement.addEventListener('change', function() {
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const url = selectedOption.getAttribute('data-url');
			if (url) {
            window.location.href = url;
        }

    });
});
</script>

	</details>
	

{% endblock %}
