{# vue spécifique pour les catégories qu'on reprendra include render dans le base.html.twig #}
{% block listeCategory %}
	<details>
		<summary>Recherche par... catégorie de services</summary>
		<select class="beau" name="categorieDeService" multiple>

			{# if you don't want to expose the controller with a public URL,
																use the controller() function to define the controller to execute #}
			{# Chemin\NomduController::nomdelamethode #}

		
		

			{% for categorie in categories %} 
			<option value="valeur1">{{categorie.nom}}</option> 
			{% endfor %} <!-- Ajoutez d'autres options si nécessaire -->
		</select>
	</details>
	

{% endblock %}
