body {
    background-color: #e52f58;
    color: #f9e8ab;
}
p{
    color: #f4d76b;
}
footer{
    border: 1px solid greenyellow;
}
.recherche{
    background-color: #9800B0;
    color:#F9E8AB;
}

h1,h2,h3{
    color: #F9E8AB;
}

main{
    border: 1px solid green;
}
form.global{
    border: 1px solid #9800B0;
    background-color: #9800B0;
    border-radius: 5px;
}
.bold{
    font-weight: 700;
}
.btn-primary{
    background-color: #9800B0;
    border-color: #9800B0;
}
.btn-primary:hover{
    background-color : #800080;
    border-color: #800080;
}

.icone{
    color: #f4d76b;
}
a{
    text-decoration: none;
    color: inherit;
}